<h2> Записаться </h2>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label >Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя" >
   </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>